<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" class="container mt-2">
  <button (click)="search()">test</button>
  
  <!--<ul>
    <li *ngFor="let item of candidate">

    </li>
  </ul>-->
</div>
 
  <!--<div class="row">

    <input  [(ngModel)]="posId" class="col-4 form-control" placeholder="Enter Position Id"/>

    <button class="col-1 btn btn-primary" (click)="searchBestCandidate()">Search</button>
  </div>-->
  <!--<br/>-->
  <!--<div class="row">
        <h4>Best candidate List for Position Id:{{posId}}</h4>


    <table class="table table-primary">
      <thead>
        <tr>
          <th>Candidate Id</th>
          <th>Name</th>
          <th>Phone</th>
          <th>Email</th>
          <th>DOB</th>
          <th>Skills</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{bestCandidate.CandidateId}}</td>
          <td>{{bestCandidate.Name}}</td>
          <td>{{bestCandidate.Phone}}</td>
          <td>{{bestCandidate.Email}}</td>
          <td>{{bestCandidate.DOB}}</td>
          <td>{{bestCandidate.Skills}}</td>
        </tr>
      </tbody>
    </table>
  </div>-->


<router-outlet></router-outlet>
