
@{
    ViewData["Title"] = "Index";
}

<p>Click on the below link to see all available positions and best match for the candidate.</p>
@*<p>@Html.ActionLink("View Available Positions", "Positions", "Home")</p>*@
<p>@Html.ActionLink("View Available Positions", "Positions", "Position")</p>


